{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row title mb-0">
    <div class="col-6 p-3 mx-4" >
      {{object.title}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
        <a class="navbar-brand" href="#">{{object.subtitle}}</a>
      </nav>
      <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">{{object.commandtitle}}</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>        
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a> 
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>        
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>        
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>        
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>        
              <a class="nav-link ms-3 my-1" href="#item-1-1"><kbd>{{object.command}}</kbd></a>
            </nav>
        </nav>
      </div>
    
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
          <div id="item-1">
            <h4>{{object.commandUse}}</h4>
            <p></p>
          </div>
          <div id="item-1-1">
            <h5> <kbd>{{object.command}}</kbd></h5>
            <p>...</p>
          </div>
          <div id="item-1-2">
            <h5>Item 1-2</h5>
            <p>...</p>
          </div>
          <div id="item-2">
            <h4>Item 2</h4>
            <p>...</p>
          </div>
          <div id="item-3">
            <h4>Item 3</h4>
            <p>...</p>
          </div>
          <div id="item-3-1">
            <h5>Item 3-1</h5>
            <p>...</p>
          </div>
          <div id="item-3-2">
            <h5>Item 3-2</h5>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}